.bottom-line {
    border-bottom: 1px solid gray;
    margin: 20px 0px;
}

.no-gutter {
    padding: 0;
}

.margin-row {
    margin: 20px 0px;
}

h1.comments_header {
    margin-bottom: 5px;
    font-family: Oswald;
}

.getMoreSpace{
     margin-bottom: 300px;
}





