<app-adminnavbar></app-adminnavbar>
<div class="table-wrap"><div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h1>Orders</h1>
        </div>
    </div>
    <hr/>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="text-center">
                <div class="form-group">
                <input  class="form-control" type="text" name="name" [(ngModel)]="filter.orderId" placeholder="ID">
                </div>
            </th>
            <th>
                <div class="form-group">
                <input class="form-control"  type="number" name="id" [(ngModel)]="filter.username" min="1"  step="1" placeholder="Username">
                </div>
            </th>
            <th class="text-center">
                <div class="form-group">
                <input  class="form-control" type="text" name="name" [(ngModel)]="filter.city" placeholder="City">
                </div>
            </th>
            <th class="text-center">Products</th>
            <th class="text-center">
                <div class="form-group">
                <input  class="form-control" type="number" name="tel" [(ngModel)]="filter.price" placeholder="Phone number">
                </div>
            </th>
            <th class="text-center">
                <div class="form-group">
                <input  class="form-control" type="text" name="name" [(ngModel)]="filter.status" placeholder="Status">
                </div>
            </th>
            <th class="text-center">More info</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let order of pagedItems| ordersfilter: filter;">
        <tr>
            <!--<td class="gray-border  text-center">{{orderid}}</td>-->
            <td class="gray-border text-center">{{order.orderId}}</td>
            <td class="gray-border text-center">{{order.username}}</td>
            <td class="gray-border text-center">{{order.city}}</td>
            <td class="gray-border text-center">{{order.products}}</td>
            <td class="gray-border text-center">{{order.price}}</td>
            <td class="gray-border text-center">{{order.status}}</td>
            <td class="gray-border text-center">
                <button class="btn btn-primary" *ngIf="order.expanded" (click)="order.expanded = false">Close</button>
                <button class="btn btn-primary" *ngIf="!order.expanded" (click)="order.expanded = true">Details</button>
            </td>
        </tr>
        <tr *ngIf="order.expanded">
            <td class="gray-border nohover" colspan="8">
                <div class="container-fluid">
                    <div class="col-md-4 text-center">
                        <h3 class="text-center">Name and surname</h3>
                        <p>Vasiliy Pupkin</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3 class="text-center">Delivery address</h3>
                        <p>Sechenova 48, app. 34</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3 class="text-center">Order contents</h3>
                        <ul class="list-group">
                            <li class="list-group-item">Pizza <span class="badge">12</span></li>
                            <li class="list-group-item">Salad <span class="badge">5</span></li>
                            <li class="list-group-item">Borsch <span class="badge">3</span></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        </ng-container>
        </tbody>
    </table>
    <div class="row text-left">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="cursor-pointer" (click)="setPage(1)">«</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a class="cursor-pointer" (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="cursor-pointer" (click)="setPage(pager.totalPages)">»</a>
            </li>
        </ul>
    </div>

</div></div>
