.details-icon {
    width: 25px;
    height: 25px;
}
.padding-top {
    padding-top:20px;
}
.word-break {
    word-break: break-all;
}
.hidden-row {
    display: none;
}
@media (max-width: 991px) {
    .padding-top {
        padding-top: 0;
        padding-bottom:20px;
    }
}
