<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>Orders</h2>
        </div>
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-xs-4">
            <div class="input-group padding-top">
                <input class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Date</th>
            <th>ID</th>
            <th>Orderer</th>
            <th>Order content</th>
            <th>Phone number</th>
            <th>Price</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let rowData of pagedItems;let i = index;" [attr.data-index]="i">
        <tr class="word-break">
            <td class="text-center">
                <button *ngIf="rowData.expanded" ng-click="rowData.expanded = false">-</button>
                <button *ngIf="!rowData.expanded" ng-click="rowData.expanded = true">+</button>
            </td>
            <td>{{rowData.date}}</td>
            <td>{{rowData.id}}</td>
            <td>{{rowData.name}}</td>
            <td>{{rowData.food}}</td>
            <td>{{rowData.tel}}</td>
            <td>{{rowData.price}}</td>
            <td>{{rowData.status}}</td>
        </tr>
        <tr *ngIf="rowData.expanded">
            <td>{{rowData.id}}</td>
        </tr>
        </ng-container>
        </tbody>
    </table>
    <div class="row text-center">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
        </ul>
    </div>

</div>
