<app-adminnavbar></app-adminnavbar>

<div class="table-wrap">
    <div class="container-fluid">
        <div class="row bottom-line">
            <div class="col-md-12 no-gutter">
                <h1 class="category-header">Users</h1>
            </div>
        </div>

        <div class="row margin-row">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Action <button class="btn btn-success" (click)="onCreateClick($event)">Create</button></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of source">
                    <td>{{item.userId}}</td>
                    <th>{{item.firstName}}</th>
                    <th>{{item.lastName}}</th>
                    <th>{{item.email}}</th>
                    <th>{{item.phone}}</th>
                    <th>{{item.city}}</th>
                    <th>{{item.adress}}</th>


                    <td>
                        <button class="btn btn-warning" (click)="onEditClick($event, item['userId'])">Edit</button>
                        <button class="btn btn-danger" (click)="onDeleteClick($event, item['userId'])">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

