a{
	color: white;
}
.our_office{
	background-color: #14A9BA;
	color:white;
	padding-left: 30px;
}
.our_office p{
	padding:10px 0 0 25px;
	}
.contact_mass{
	color: #14A9BA;
}
.contact_mass label{
	padding-top: 10px;
}
.send_button{
	padding-top: 20px;
}
.send_button button{
	background-color: #14A9BA;
	border-color: #14A9BA;
}

agm-map {
  height: 300px;
}

.full-screen-map agm-map{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2000;
}
.full-screen-map .close-button{
	position: absolute;
	top:10px;
	right: 29px;
	z-index: 2001;
	color:#14A9BA;
	opacity: 1;
	font-size: 30px;
 	border: none;
}
.full-screen{
	color: #14A9BA;
    position: absolute;
    top: 79px;
    right: 29px;
    font-size: 25px;
    text-decoration-line: none;
}
