a{
	color: white;
}
.our_office{
	background-color: #14A9BA;
	color:white;
	padding-left: 20px;
}
.our_office p{
	padding:10px 0 0 25px;
	}
.contact_mass{
	color: #14A9BA;
}
.contact_mass label{
	padding-top: 10px;
}
.send_button{
	padding-top: 20px;
}
.send_button button{
	background-color: #14A9BA;
	border-color: #14A9BA;
}

agm-map {
  height: 300px;
}

.full-screen-map agm-map{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2000;
}
.full-screen-map .close-button{
	position: absolute;
	top:0;
	z-index: 2001;
	color:#14A9BA;
	font-size: 40px;
 	border: 1px solid #14A9BA;
}