<app-adminnavbar></app-adminnavbar>
<router-outlet></router-outlet>

<div class="wrap">
    <h2>Dashboard</h2>
    <hr/>
    <div class="row text-center main-info">
        <div class="col-xs-12 col-sm-4">
            <div class="wrap-border">
                <h3>Orders</h3>
                <div class="number"><span class="glyphicon glyphicon-usd"></span> 35</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="wrap-border">
                <h3>Comments</h3>
                <div class="number"><span class="glyphicon glyphicon-comment"></span> 128</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="wrap-border">
                <h3>Top products</h3>
                <div style="display: block;">
                    <canvas baseChart height="160"
                            [labels]="doughnutChartLabels"
                            [options]="barChartOptions"
                            [chartType]="doughnutChartType"
                            [datasets]="datasets"
                            [colors]="colorsEmptyObject"
                            ></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <h3>Products we will need soon</h3>
            <table class="table products-table">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity in stock</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>meat</td>
                    <td>2</td>
                </tr>
                <tr><td>onion</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>apple</td>
                    <td>9</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <h3>Users</h3>
        <div class="chart_users">
            <canvas baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [chartType]="lineChartType"
                    [legend]="lineChartLegend"
                    [colors]="lineChartColors"
                    ></canvas>
        </div>
        </div></div>
</div>
