
/*FOOTER CONTENT*/
a {
    cursor: pointer;
}


img.logo-footer {
    width: 55px;
    margin-top: 50px;
}

div.service-block, div.aboutus-block {
    float: left;
    margin: 20px 15px 40px 0px;
    width: 150px;
}

div.footer-content li {
    border-top: 2px solid gray;
    list-style-type: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.footer-content a {
    font-family: Roboto;
    font-size: 15px;
}

div.footer-content ul {
    padding-left: 0px;
}

div.footer-content p, div.footer-socials p {
    font-size: 18px;
    font-family: Oswald;
}




/*FOOTER SOCIALS*/
div.footer-socials {
    margin-top: 20px;
    width: 100%;
}



a.facebook {
    background: url("../../../assets/icons/Group 14.svg") no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 7px;
    background-size: 30px 30px;
}

a.instagram {
    background: url("../../../assets/icons/Group 2.svg") no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 7px;
    background-size: 30px 30px;
}

a.twitter {
    background: url("../../../assets/icons/Group 10.svg") no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 7px;
    background-size: 30px 30px;
    color: #dddddd;
}

a.soc-name {
    display: inline-block;
    font-family: Roboto;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    position: relative;
    bottom: 7px;
}

.socials-container ul {
    padding: 0;
    list-style-type: none;
}

div.socials-container {
    width: 128px;
    margin-top: 15px;
}

div.center-text-soc {
    width: 55px;
}

@media only screen and (max-width: 991px) {



    div.service-block, div.aboutus-block {
        position: relative;
        left: 10%;
    }


}


@media only screen and (max-width: 768px) {
    div.service-block, div.aboutus-block {
        position: relative;
        left: 10%;
    }


    div.service-block, div.aboutus-block {
        width: 110px;
    }

    img.logo-footer {
        display: none;
    }
}








