<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-2 ">
                <img src="/assets/images/logo-bucket-low.png" alt="logo" class="img-responsive center-block logo-footer">
        </div>
        <div class="col-md-8 col-sm-6 col-xs-8 footer-content">
            <div class="service-block">
                <p>Service</p>
                <ul>
                    <li><a href="#" (click)="openLoginModal();">Log In</a></li>
                    <li><a href="#" routerLink="/menu">Menu</a></li>
                    <li><a href="#" routerLink="/specials">Specials</a></li>
                    <li><a href="#" routerLink="/topRated">Top Rated</a></li>
                </ul>
            </div>
            <div class="aboutus-block">
                <p>About Us</p>
                <ul>
                    <li><a href="#" routerLink="/aboutus" routerLinkActive="active">Contactcs</a></li>
                    <li><a href="#" routerLink="contacts">Contacts</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 " >
            <div class="footer-socials">
               <div class="center-block center-text-soc"><p>Socials</p></div>
                    <div class="socials-container center-block">
                        <a href="#" class="facebook"></a>
                        <a href="#" class="instagram"></a>
                        <a href="#" class="twitter"></a>
                    </div>
            </div>
        </div>
    </div>
</div>
