<footer id="footer-Section">
    <div class="footer-top-layout">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="col-sm-2">
                        <div class="logo-container">
                            <img src="../../../assets/logo.svg" alt="logo" class="logo">
                        </div>
                    </div>

                    <div class="col-sm-2 col-sm-5 col-xs-6 first" >
                        <div class="footer-col-item">
                            <h4>Navigation</h4>
                            <ul>
                                <li><a class="spec-hover" (click)="openNewAccount();">Sign In</a></li>
                                <li><a class="spec-hover" href="#" routerLink="/category">Category</a></li>
                                <li><a class="spec-hover" href="#" routerLink="/aboutus">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 border middle">
                        <div class="footer-col-item">
                            <h4>Reach Us</h4>
                            <div class="item-contact"> <p><span class="link-id">H</span>:<span>8.00 - 22.00</span></p> <p><span class="link-id">P</span>:<span>8-888-888-888</span></p> <p><span class="link-id">E</span>:<span>foodbucket@gmail.com</span></p> </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-5 col-xs-6 last">
                        <div class="footer-col-item">
                            <h4>Social Networks</h4>
                            <div class="socials-container center-block">
                                <ul class="margin-left">
                                    <li>
                                        <a href="#" class="facebook center-block"></a>
                                        <a class="soc-name spec-hover">Facebook</a>
                                    </li>
                                    <li>
                                        <a href="#" class="instagram"></a>
                                        <a class="soc-name spec-hover">Instagram</a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter"></a>
                                        <a class="soc-name spec-hover">Twitter</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
</footer>
