<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-sm-1 ">
                <img src="../../../assets/images/logo-bucket-low.png" alt="logo" class="img-responsive center-block logo-footer">
        </div>
        <div class="col-md-9 col-sm-6 col-xs-8 footer-content">
            <div class="service-block">
                <p>Service</p>
                <ul>
                    <li><a href="#" (click)="openLoginModal();">Log In</a></li>
                    <li><a href="#" routerLink="/menu">Menu</a></li>
                    <li><a href="#" routerLink="/topRated">Top Rated</a></li>
                </ul>
            </div>
            <div class="aboutus-block">
                <p>About Us</p>
                <ul>
                    <li><a href="#" routerLink="/aboutus" routerLinkActive="active">Contacts</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4 " >
            <div class="footer-socials">
               <div class="center-block center-text-soc"><p>Socials</p></div>
                    <div class="socials-container center-block">
                        <ul>
                            <li>
                                <a href="#" class="facebook center-block"></a>
                                <a class="soc-name">Facebook</a>
                            </li>
                            <li>
                                <a href="#" class="instagram"></a>
                                <a class="soc-name">Instagram</a>
                            </li>
                            <li>
                                <a href="#" class="twitter"></a>
                                <a class="soc-name">Twitter</a>
                            </li>
                        </ul>

                    </div>
            </div>
        </div>
    </div>
</div>
