.bottom-line {
    border-bottom: 1px solid black;
    margin: 20px 0;
}

.no-gutter {
    padding: 0;
}

.margin-row {
    margin: 20px 0;
}

.category-header {
    margin-bottom: 5px;
    font-family: Oswald;
}

.max-width-100 {
    max-width: 100px;
}
