a {
    cursor: pointer;
}

a.bucket {
    background: url(../../../assets/icons/bucket-icon.svg) no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 7px;
    background-size: 30px 30px;
}
