<div class="container">
    <div class="row text-center">
        <div class="col-md-6 col-sm-6">
            <h1>Dish Name
                <a href="" class="icon"><span class="glyphicon glyphicon-star-empty color-gold"></span></a>
            </h1>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="text-center ">
                <h3 class="ingredients-margin">Ingredients:</h3>
            </div>
        </div>
    </div>
    <div class="row stickToBottom">
         <div class="col-md-6 col-sm-6">
            <div class="thumbnail">
                <figure>
                    <div>
                        <a class="left carousel-control carousel-control-left" (click)="changeImageSourceByPressingLeftArrow()"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <img class="img-responsive center-block" src="{{sourceForPreviousImage}}" alt="{{sourceForPreviousImage}} slide">
                        <a class="right carousel-control carousel-control-right" (click)="changeImageSourceByPressingRightArrow()"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                <figcaption>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>Calories</td>
                            <td>00</td>
                        </tr>
                        <tr>
                            <td>Spice level</td>
                            <td>00</td>
                        </tr>
                        <tr>
                            <td>Serving size</td>
                            <td>00</td>
                        </tr>
                        <tr>
                            <td>Difficulty</td>
                            <td>00</td>
                        </tr>
                        <tr>
                            <td>Cooking type</td>
                            <td>00</td>
                        </tr>
                        <tr>
                            <td>Number of steps</td>
                            <td>00</td>
                        </tr>
                        </tbody>
                    </table>
                </figcaption>
            </figure>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 second-block">
            <div class="thumbnail">
                <div class="scrollable border-fruits">
                    <div class="row text-center">
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <figure>
                                <p><img src="/assets/images/apple.svg" width="50" height="50" alt="Apple"></p>
                                <figcaption>Apple</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <figure>
                                <p><img src="/assets/images/apple.svg" width="50" height="50" alt="Apple"></p>
                                <figcaption>Apple</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <figure>
                                <p><img src="/assets/images/apple.svg" width="50" height="50" alt="Apple"></p>
                                <figcaption>Apple</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <figure>
                                <p><img src="/assets/images/apple.svg" width="50" height="50" alt="Apple"></p>
                                <figcaption>Apple</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <figure>
                                <p><img src="/assets/images/apple.svg" width="50" height="50" alt="Apple"></p>
                                <figcaption>Apple</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <figure>
                                <p><img src="/assets/images/apple.svg" width="50" height="50" alt="Apple"></p>
                                <figcaption>Apple</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <figure>
                                <p><img src="/assets/images/apple.svg" width="50" height="50" alt="Apple"></p>
                                <figcaption>Apple</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <figure>
                                <p><img src="/assets/images/apple.svg" width="50" height="50" alt="Apple"></p>
                                <figcaption>Apple</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <figure>
                                <p><img src="/assets/images/apple.svg" width="50" height="50" alt="Apple"></p>
                                <figcaption>Apple</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <figure>
                                <p><img src="/assets/images/apple.svg" width="50" height="50" alt="Apple"></p>
                                <figcaption>Apple</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <figure>
                                <p><img src="/assets/images/apple.svg" width="50" height="50" alt="Apple"></p>
                                <figcaption>Apple</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <figure>
                                <p><img src="/assets/images/apple.svg" width="50" height="50" alt="Apple"></p>
                                <figcaption>Apple</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="button-details"  (click)="show = !show">
                    <span class="under-line"><p class="details-p__big-text">Details<p></p></span>
                </button>
                <div *ngIf="show">
                    <p class="details-p__big-text"> Some details </p>
                </div>
            </div>
            <div class="row button-padding">
                <div class="price-wrapper">
                    <p class="text-right text-font product-price">Price 99$</p>
                    <p class="text-right text-font product-price">Total 99$</p>
                    <p class="text-right text-font product-price">Economy 00$</p>
                </div>
                <button class="btn btn-md btn-primary to-cart-btn pull-right custom-cart-button">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart
                </button>
                <button class="btn btn-md btn-primary custom-buy-button">
                    <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Buy now!
                </button>
            </div>
        </div>
    </div></div>
