<div class="container">
    <div class="row text-center">
        <div class="col-md-6 col-sm-6">
            <h1 class="dish_title">{{productData.title}}
                <span class="glyphicon glyphicon-star-empty color-gold"></span>
            </h1>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="text-center ">
                <h3 class="ingredients-margin">Ingredients:</h3>
            </div>
        </div>
    </div>
    <div class="row stickToBottom">
         <div class="col-md-6 col-sm-6">
            <div class="thumbnail">
                <figure>
                    <div>
                        <a class="left carousel-control carousel-control-left" (click)="changeImageSourceByPressingLeftArrow()"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <img class="img-responsive center-block" src="{{sourceForPreviousImage}}" alt="{{sourceForPreviousImage}} slide">
                        <a class="right carousel-control carousel-control-right" (click)="changeImageSourceByPressingRightArrow()"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                    <figcaption>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>calories</td>
                                <td>{{productData.caloricity}}</td>
                            </tr>
                            <tr>
                                <td>spice level</td>
                                <td>{{productData.spiceLevel}}</td>
                            </tr>
                            <tr>
                                <td>serving size</td>
                                <td>{{productData.servingSize}}</td>
                            </tr>
                            <tr>
                                <td>difficulty</td>
                                <td>{{productData.difficulty}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 second-block">
            <div class="thumbnail">
                <div class="border-fruits">
                    <div class="row text-center ingredient-row" >
                        <div *ngFor="let ingredient of productIngredients" class="col-md-4 col-sm-6 col-xs-6">
                            <figure >
                                <div class="ingredient-icon">
                                    <img src={{ingredient.image}} width="40px" height="40px" alt={{ingredient.title}}>
                                </div>
                                <figcaption>{{ingredient.title}}</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div>
                    <h5>INSTRUCTIONS</h5>
                    <ol>
                        <li class="details-p__big-text">In a large pot cook the pasta in boiling water according to package directions. Drain and set aside.</li>
                        <li class="details-p__big-text">Using the same pan, heat olive oil and 2 Tablespoons of butter. Add the garlic and red pepper flakes and cook until fragrant.</li>
                        <li class="details-p__big-text">Add the shrimp and salt and pepper to taste. Cook until the shrimp start to turn pink. Add italian seasoning and spinach and cook until wilted.</li>
                        <li class="details-p__big-text">Add the pasta back to the pot with the remaining butter, parmesan, and parsley. Still until mixed and butter is melted.</li>
                        <li class="details-p__big-text">Add the lemon juice before serving and serve while hot</li>
                    </ol>
                </div>
            </div>


            <div class="row">
                <div class="serving-size col-md-6 col-sm-6 col-xs-6">
                    <h3>Portions</h3>
                    <div ng-app class="input-group counter" ng-init="counter = 1">
                        <button (click)="counter = counter+1" class="btn btn-default btn-number">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <span class="counter-result">{{counter}}</span>
                        <button (click)="counter==1?counter=1:counter = counter-1" class="btn btn-default btn-number">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="price-wrapper">
                        <p class="text-right text-font product-price">Price: <span>{{productData.price*counter}}$</span></p>
                        <p class="text-right text-font product-price">Total: <span>{{productData.price*counter - productData.discount}}$</span></p>
                        <p class="text-right text-font product-price">Economy: <span>{{productData.discount}}$</span></p>
                    </div>

                </div>
            </div>
            <div class="row ">
                <div class="col-md-6">
                    <button class="btn btn-md btn-primary to-cart-btn pull-right custom-cart-button">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-md btn-primary custom-buy-button">
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Buy now!
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-disqus></app-disqus>
