<div class="container">
    <div class="row text-center">
        <div class="col-md-6 col-sm-6">
            <h1 class="dish_title" (click)="addFavourite()"> {{productData?.title}}
                <span class="contain-icon icon-hook" [class.active]="select" *ngIf="login" >
                    <svg class="star-icon star-icon-2" version="1.1" width="45px" height="41px" viewBox="0 0 105.602 102.931">
                        <path class="main-star-2" fill="none" stroke="#000" stroke-width="6" stroke-miterlimit="10" d="M52.35,3.11c0.475-0.963,1.253-0.963,1.728,0 l12.211,24.742c0.475,0.963,1.734,1.877,2.796,2.032l27.305,3.968c1.063,0.154,1.303,0.894,0.534,1.644L77.167,54.754
  c-0.769,0.75-1.25,2.229-1.068,3.287l4.664,27.194c0.182,1.058-0.448,1.516-1.398,1.016L54.942,73.413
  c-0.951-0.5-2.506-0.5-3.456,0L27.064,86.252c-0.951,0.5-1.58,0.043-1.398-1.016l4.664-27.194c0.182-1.058-0.299-2.538-1.068-3.287
  L9.504,35.495c-0.769-0.75-0.529-1.489,0.534-1.644l27.305-3.968c1.063-0.154,2.321-1.069,2.796-2.032L52.35,3.11z"/>
                        <path class="star-dashes-2" fill="#000" stroke="#000" stroke-width="5" stroke-linecap="round" stroke-miterlimit="10" d="M20.881,6.26
  l6.333,7.333 M103.214,63.961l-9.173-3.122 M78.519,13.835l5.724-7.818 M52.777,100.544l0.048-9.69 M11.823,61.737l-9.436,2.204"/>
                        M42.681,47.839l6.817,6.817 M63.747,39.016l-14.249,15.64"/>
                    </svg>
                </span>
            </h1>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="text-center ">
                <h3 class="ingredients-margin">Ingredients:</h3>
            </div>
        </div>
    </div>
    <div class="row stickToBottom">
         <div class="col-md-6 col-sm-6">
            <div class="thumbnail">
                <figure>
                    <div>
                        <!--<img src="{{productData.image}}" alt="{{productData.title}}">-->
                        <img src="image/{{productData?.image}}" alt="{{productData?.title}}">
                    </div>
                    <figcaption>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>calories</td>
                                <td>{{productData?.caloricity}}</td>
                            </tr>
                            <tr>
                                <td>spice level</td>
                                <td>{{productData?.spiceLevel}}</td>
                            </tr>
                            <tr>
                                <td>serving size</td>
                                <td>{{productData?.servingSize}}</td>
                            </tr>
                            <tr>
                                <td>difficulty</td>
                                <td>{{productData?.difficulty}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 second-block">
            <div class="thumbnail">
                <div class="border-fruits">
                    <div class="row text-center ingredient-row" >
                        <div *ngFor="let ingredient of productIngredients" class="col-md-4 col-sm-6 col-xs-6">
                            <figure >
                                <div class="ingredient-icon">
                                    <img src="image/{{ingredient.image}}" width="40px" height="40px" alt={{ingredient.title}}>
                                </div>
                                <figcaption>{{ingredient.title}}</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" instructions text-center">
                <div>
                    <h3>RECIPE</h3>
                    <p class="description">{{productData?.description}}</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 price-block pull-right">
                    <div class="price-wrapper">
                        <p class="text-right text-font product-price">Price: <span>{{productData?.price}}$</span></p>
                    </div>
                    <div>
                        <add-to-cart-button class="pull-right" [id]="id"></add-to-cart-button>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
<app-disqus></app-disqus>
