.dish_title {
    text-transform: uppercase;
}

.you-will-get {
    margin-left: 5%;
}
.details-p__big-text{
    font-size: 16px;
}
.border-fruits {
    border: none;
    background: white;
    padding: 5px;
}
.text-font{
    font-size: 16px
}
.ingredients-margin {
    margin-bottom: 5px;
    margin-top: 35px;
}
.color-gold {
    color: #FFD700;
}
.carousel-control.left, .carousel-control.right{
    background-image: none;
}
.button-padding{
    padding: 50px 15px 20px 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.under-line {
    text-decoration: underline;
    color: blue;
}

.button-details{
    background-color: white;
    color: black;
    border: none;
    outline: none;
}

h1 {
    font-family: Oswald;
}

h3 {
    font-family: Oswald;
}

table {
    font-family: Roboto;
}

p {
    font-family: Roboto;
}

p .product-price {
    font-size: 20px;
}

.stickToBottom {
    position: relative;
}

.second-block {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0px;
}

i.glyphicon-chevron-left, i.glyphicon-chevron-right {
    top: 30%;
}

.price-wrapper p.product-price {
    margin-bottom: 20px;
   text-align: right;
}

.ingredient-icon {
    margin: 0 auto 5px;
    display: block;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #14A9BA;
}

.ingredient-row figure {
    margin-bottom: 15px;
}

.counter {
    line-height: 35px;
}
.counter button {
    display: inline-block;
}

.counter-result {
    display: inline-block;
    width: 50px;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 990px) {
    i.glyphicon-chevron-left, i.glyphicon-chevron-right {
        top: 25%;
    }
}

@media (max-width: 760px) {
    .button-padding{
        padding-top: 40px;
    }
    .product-price {
        text-align: center;
    }
    .custom-cart-button {
        margin-right: 30px;
    }
    .custom-buy-button {
        margin-left: 30px;
    }

    .second-block {
        position: static;
    }

    .button-padding {
        position: static;
    }

    i.glyphicon-chevron-left, i.glyphicon-chevron-right {
        top: 30%;
    }

    .ingredients-margin {
        display: none;
    }
}

