<app-adminnavbar></app-adminnavbar>
<router-outlet></router-outlet>
<!--<p>-->
  <!--admin-analytics works!-->
<!--</p>-->
<div class="analytics">
    <div class="total container">
        <div class="row">
            <div class="order col-sm-12 col-md-3" height="50%">
                <h3 class="title">total order</h3>
            </div>
            <div class="complited-order col-sm-12 col-md-3">
                <h3 class="title">total order</h3>
            </div>
            <div class="canceled-order col-sm-12 col-md-3">
                <h3 class="title">total order</h3>
            </div>
            <div class="users col-sm-12 col-md-3 ">
                <h3 class="title">total order</h3>
            </div>
        </div>
    </div>
    <div class="charts container">
        <div class="row">
            <div class="orders col-sm-12 col-md-6">
                <h3 class="title">orders</h3>
            </div>
            <div class="cash  col-sm-12 col-md-6">
                <h3 class="title">cash</h3>
            </div>
        </div>
    </div>
    <div class="additional container">
        <div class="row">
            <div class="doughnut col-md-6">
                <div class="row">
                    <div class="gender  col-sm-6 col-md-6">
                        <h3 class="title">gender</h3>
                    </div>
                    <div class="category col-sm-6 col-md-6">
                        <h3 class="title">categories</h3>
                    </div>
                </div>
            </div>
            <div class="bar  col-sm-12 col-md-6">
                <div class="row">
                    <div class="promotion col-md-12">
                        <h3 class="title">promo</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div>

</div>
