.analytics {
    width: 75%;
}

/*div div {*/
    /*outline: 1px solid red;*/
/*}*/

.title {
    font-family:'Roboto';
    font-size: 24px;
    text-transform: uppercase;
}

.total .content {
    line-height: 70px;
}

.total .icon {
    width: 40px;
    height: 40px;
}

.total p {
    display: inline;
    font-family: Oswald;
    font-size: 44px;
    text-transform: uppercase;
}
