.analytics {
    box-sizing: border-box;
    padding: 0 10%;
}

.analytics > div {
    margin-bottom: 50px;
}

.title {
    font-family:'Roboto';
    font-size: 20px;
    text-transform: uppercase;
}

.total .icon {
    width: 40px;
    height: 40px;
}

.total p {
    display: inline;
    font-family: Oswald;
    font-size: 44px;
    text-transform: uppercase;
}
