<app-adminnavbar></app-adminnavbar>
<router-outlet></router-outlet>
<!--<p>-->
  <!--admin-analytics works!-->
<!--</p>-->
<div class="analytics">
    <div class="total container">
        <div class="row">
            <div class="order col-sm-12 col-md-3" height="50%">
                <h3 class="title">total order</h3>
                <div class="content">
                    <img src="../../../assets/icons/total_order.svg" alt="" class="icon">
                    <p>123<span></span></p>
                </div>
            </div>
            <div class="complited-order col-sm-12 col-md-3">
                <h3 class="title">complited order</h3>
                <div class="content">
                    <img src="../../../assets/icons/complited_order.svg" alt="" class="icon">
                    <p>120<span></span></p>
                </div>
            </div>
            <div class="cash-per-day col-sm-12 col-md-3">
                <h3 class="title">cash</h3>
                <div class="content">
                    <img src="../../../assets/icons/cash.svg" alt="" class="icon">
                    <p>45<span></span></p>
                </div>
            </div>
            <div class="users col-sm-12 col-md-3 ">
                <h3 class="title">users</h3>
                <div class="content">
                    <img src="../../../assets/icons/users.svg" alt="" class="icon">
                    <p>45<span></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="charts container">
        <div class="row">
            <div class="orders col-sm-12 col-md-6">
                <h3 class="title">orders</h3>
                <div>
                    <canvas baseChart width="100" height="100"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
            <div class="cash  col-sm-12 col-md-6">
                <h3 class="title">cash</h3>
                <div>
                    <canvas baseChart width="100" height="100"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="additional container">
        <div class="row">
            <div class="doughnut col-md-6">
                <div class="row">
                    <div class="gender  col-sm-6 col-md-6">
                        <h3 class="title">gender</h3>
                        <div style="display: block">
                            <canvas baseChart
                                    [data]="doughnutGenderData"
                                    [labels]="doughnutGenderLabels"
                                    [chartType]="doughnutType"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                        </div>
                    </div>
                    <div class="category col-sm-6 col-md-6">
                        <h3 class="title">categories</h3>
                        <div style="display: block">
                            <canvas baseChart
                                    [data]="doughnutCategoryData"
                                    [labels]="doughnutCategoryLabels"
                                    [chartType]="doughnutType"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bar  col-sm-12 col-md-6">
                <div class="row">
                    <div class="promotion col-md-12">
                        <h3 class="title">promo</h3>
                        <div style="display: block">
                            <canvas baseChart
                                    [datasets]="barChartData"
                                    [labels]="barChartLabels"
                                    [options]="barChartOptions"
                                    [legend]="barChartLegend"
                                    [chartType]="barChartType"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div>

</div>
