<div class="container-fluid slider" (window:resize)="onResize($event)">
    <div class="row">

        <div *ngIf="FullScreenView" class="slider">

            <div class="col-lg-4">
                <a class="left carousel-control" (click)="changeImageSourceByPressingRightArrow()"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <img class="img-responsive" src="image/{{sourceForFirstImage}}">
                <div class="carousel-caption">
                    <h3>{{captionForFirstImage}}</h3>
                    <p>{{descriptionForFirstImage}}</p>
                </div>
            </div>

            <div class="col-lg-4">
                <img class="img-responsive" src="image/{{sourceForSecondImage}}">
                <div class="carousel-caption">
                    <h3>{{captionForSecondImage}}</h3>
                    <p>{{descriptionForSecondImage}}.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <img class="img-responsive" src="image/{{sourceForThirdImage}}">
                <div class="carousel-caption">
                    <h3>{{captionForThirdImage}}</h3>
                    <p>{{descriptionForThirdImage}}</p>
                </div>
                <a class="right carousel-control" (click)="changeImageSourceByPressingLeftArrow()"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>


        <div *ngIf="PartialView">
            <div class="col-sm-6">
                <img class="img-responsive" src="image//{{sourceForSecondImage}}" alt="{{sourceForSecondImage}} slide">
                <div class="carousel-caption">
                    <h3>{{captionForSecondImage}}</h3>
                    <p>{{descriptionForSecondImage}}</p>
                </div>
                <a class="left carousel-control" (click)="changeImageSourceByPressingRightArrow()"><i class="glyphicon glyphicon-chevron-left"></i></a>
            </div>

            <div class="col-sm-6">
                <a class="right carousel-control" (click)="changeImageSourceByPressingLeftArrow()"><i class="glyphicon glyphicon-chevron-right"></i></a>
                <img class="img-responsive" src="image/{{sourceForThirdImage}}" alt="{{sourceForThirdImage}} slide">
                <div class="carousel-caption">
                    <h3>{{captionForThirdImage}}</h3>
                    <p>{{descriptionForThirdImage}}</p>
                </div>
            </div>
        </div>


        <div *ngIf="OneImageView">

            <div class="col-sm-6">
                <a class="left carousel-control" (click)="changeImageSourceByPressingRightArrow()"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <img class="img-responsive" src="image/{{sourceForThirdImage}}" alt="{{sourceForThirdImage}} slide">
                <a class="right carousel-control" (click)="changeImageSourceByPressingLeftArrow()"><i class="glyphicon glyphicon-chevron-right"></i></a>

                <div class="carousel-caption">
                    <h3>{{captionForThirdImage}}</h3>
                    <p>{{descriptionForThirdImage}}</p>
                </div>
            </div>
        </div>

    </div>
</div>
