<app-adminnavbar></app-adminnavbar>
<div class="table-wrap">
    <div class="container-fluid">
        <div class="row bottom-line">
            <div class="col-md-12 no-gutter">
                <h1 class="ingredients_header">Ingredients</h1>
            </div>
        </div>
        <div class="row margin-row">
                <ng2-smart-table
                    [settings]="settings"
                    [source]="source"
                    (create)="onCreateClick($event, 'create')"
                    (edit)="onEditClick($event, 'edit')"
                    (delete)="onDeleteClick($event, 'delete')"
                ></ng2-smart-table>
        </div>
    </div>
</div>


