.account-image{
	width: 150px;
	height: 150px;
	border: 1px solid gray;
	background-image: url(../../../../assets/account.jpg);
	background-size: cover;
	float: right;
	margin-bottom: 20px;
}
.alert-danger{
    color: red;
    background: inherit;
    border: none;
}
