<app-adminnavbar></app-adminnavbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2>Product page</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <!--<tabset>-->
                    <!--<tab heading="General">-->

                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input [(ngModel)]="productModel.title" name="title" type="text" class="form-control" id="title" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <input [(ngModel)]="productModel.description" name="description" type="text" class="form-control" id="description" required>
                        </div>
                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input [(ngModel)]="productModel.price" name="price" type="number" class="form-control" id="price" required>
                        </div>
                        <div class="form-group">
                            <label for="image">Image:</label>
                            <input [(ngModel)]="productModel.image" name="image" type="text" class="form-control" id="image">
                        </div>
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <input [(ngModel)]="productModel.category" name="category" type="text" class="form-control" id="category">
                        </div>
                        <div class="form-group">
                            <label for="status">Status:</label>
                            <input [(ngModel)]="productModel.status" name="status" type="text" class="form-control" id="status">
                        </div>
                        <div class="form-group">
                            <label for="discount">Discount:</label>
                            <input [(ngModel)]="productModel.discount" name="discount" type="number" class="form-control" id="discount">
                        </div>
                        <div class="form-group">
                            <label for="promotions">Promotions:</label>
                            <input [(ngModel)]="productModel.promotions" name="promotions" type="text" class="form-control" id="promotions">
                        </div>

                <div class="ingredients">
                    <!--<table width="100%" border="1">-->
                        <!--<tr>-->
                            <!--<th>Ingredient name</th>-->
                            <!--<th>Quantity</th>-->
                            <!--<th>Measure</th>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td><input [(ngModel)]="productModel.ingredients[0].ingredientName" name="ingredientName" type="text" class="form-control"></td>-->
                            <!--<td><input [(ngModel)]="productModel.ingredients[0].quantity" name="quantity" name="quantity" type="text" class="form-control"></td>-->
                            <!--<td><input [(ngModel)]="productModel.ingredients[0].measure" name="measure" name="measure" type="text" class="form-control"></td>-->
                        <!--</tr>-->
                    <!--</table>-->
                    <br><br>


                    <div>
                        <table class="table" border="1" width="80%" id="myTable">
                            <tr>
                                <th>Ingredient ID</th>
                                <th>Ingredient name</th>
                                <th>Quantity</th>
                                <th>Measure</th>
                            </tr>
                            <tr *ngFor="let ingredient of ingredientList; let i = index"
                                (click)="onEditItem(i)" style="cursor: pointer">
                                    <td>{{ ingredient.ingredientId }}</td>
                                    <td>{{ ingredient.ingredientName }}</td>
                                    <td>{{ ingredient.quantity }}</td>
                                    <td>{{ ingredient.measure }}</td>
                            </tr>
                        </table>
                        <br>

                        <app-ingredient-edit></app-ingredient-edit>
                    </div>

                </div>
                <!--</tab>-->
                    <!--<tab heading="Data">-->

                        <div class="form-group">
                            <label for="caloricity">Caloricity:</label>
                            <input [(ngModel)]="productModel.caloricity" name="caloricity" type="number" class="form-control" id="caloricity">
                        </div>
                        <div class="form-group">
                            <label for="servingSize">Serving size:</label>
                            <input [(ngModel)]="productModel.servingSize" name="servingSize" type="number" class="form-control" id="servingSize">
                        </div>

                        <div class="form-group">
                            <label for="difficulty">Difficulty:</label>
                            <input [(ngModel)]="productModel.difficulty" name="difficulty" type="text" class="form-control" id="difficulty">
                        </div>
                        <div class="form-group">
                            <label for="spiceLevel">Spice level:</label>
                            <input [(ngModel)]="productModel.spiceLevel" name="spiceLevel" type="text" class="form-control" id="spiceLevel">
                        </div>

                    <!--</tab>-->

                    <div class="btn-group action-buttons">
                        <button class="btn btn-success" (Click)="onSubmit()" type="submit" [disabled]="!f.form.valid">Save</button>
                        <a class="btn btn-danger" routerLink="/admin/productlist" routerLinkActive="active">Back</a>
                    </div>
                <!--</tabset>-->
            </form>
        </div>
    </div>
    <div class="row">
        <ngx-flash-messages></ngx-flash-messages>
    </div>
</div>
