<div class="container">
    <div class="row top-rated">
        <div class="col-md-6 top-rated-desc">
            <h3>order the best meals from our top-rated menu</h3>
            <h4>Let us recommend you these delicious dishes. With inspiring tips and tricks from our chefs, cook up your favorite meals with confidence.</h4>
            <h4>FoodBucket delivers everything you need to bring more delicious meals and moments to the table. Every day.</h4>
            <button class="btn btn-primary top-rated-details center-block">Check out details</button>
        </div>
        <div class="col-md-6">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <figure>
                            <img src="../../../../assets/images/strawberry-pancakes.jpg" class="img-responsive center-block" alt="First Slide">
                            <figcaption class="text-center">Pancakes With Strawberries</figcaption>
                        </figure>
                    </div>
                    <div class="item">
                        <figure>
                            <img src="../../../../assets/images/cake-pops.jpg" class="img-responsive center-block" alt="Second Slide">
                            <figcaption class="text-center">Red Velvet Cake Pops</figcaption>
                        </figure>
                    </div>
                    <div class="item">
                        <figure>
                            <img src="../../../../assets/images/cherry-streusel-cheesecake.jpg" class="img-responsive center-block" alt="Third Slide">
                            <figcaption class="text-center">Cherry Streusel Cheesecake</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>
