.top-rated{
    margin:0 auto;
    margin-bottom: 60px;
}
.top-rated-desc h3{
    font-family: Oswald;
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
}
.top-rated-desc h4{
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
}
.top-rated-details{
    font-family: Roboto;
    padding: 10px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}
.carousel-control.left, .carousel-control.right{
    background-image: none;
}
.carousel-control{
    width: 20%;
}
.glyphicon{
    cursor: pointer;
}
