<br>
<div class="container">
    <div class="row top-rated">
        <div class="col-md-6 top-rated-desc">
            <h3>order the best meals from our top-rated menu</h3>
            <h4>Let us recommend you these delicious dishes. With inspiring tips and tricks from our chefs, cook up your favorite meals with confidence.</h4>
            <h4>FoodBucket delivers everything you need to bring more delicious meals and moments to the table. Every day.</h4>
            <button class="btn btn-primary top-rated-details center-block">Check out details</button>
        </div>
        <div class="col-md-6">

            <div>
                <a class="left carousel-control carousel-control-left" (click)="changeImageSourceByPressingLeftArrow()"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <img class="img-responsive center-block" src="{{sourceForPreviousImage}}" alt="{{sourceForPreviousImage}} slide">
                <a class="right carousel-control carousel-control-right" (click)="changeImageSourceByPressingRightArrow()"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>

        </div>
    </div>
</div>

<br>
