<section class="categories">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="categories__title">Categories</h2>
            </div>

            <div class="col-sm-5">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Search</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <ul class="categories__list">
                    <li class="category-item">
                        <a href="#">
                            <img class="img-rounded" src="http://lorempixel.com/200/200/food/5" alt="">
                            <span class="lead">Menus</span>
                        </a>
                    </li>

                    <li class="category-item">
                        <a href="#">
                            <img class="img-rounded" src="http://lorempixel.com/200/200/food/6" alt="">
                            <span class="lead">Meat</span>
                        </a>
                    </li>

                    <li class="category-item">
                        <a href="#">
                            <img class="img-rounded" src="http://lorempixel.com/200/200/food/7" alt="">
                            <span class="lead">Fish</span>
                        </a>
                    </li>

                    <li class="category-item">
                        <a href="#">
                            <img class="img-rounded" src="http://lorempixel.com/200/200/food/8" alt="">
                            <span class="lead">Salads</span>
                        </a>
                    </li>

                    <li class="category-item">
                        <a href="#">
                            <img class="img-rounded" src="http://lorempixel.com/200/200/food/9" alt="">
                            <span class="lead">Desserts</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-8">
                <ul class="categories__list">
                    <li class="category-item category-item--lg">
                        <a href="#">
                            <img class="img-rounded" src="http://lorempixel.com/200/200/food/1" alt="">
                            <span class="lead">Top dishes</span>
                        </a>
                    </li>

                    <li class="category-item category-item--lg">
                        <a href="#">
                            <img class="img-rounded" src="http://lorempixel.com/200/200/food/2" alt="">
                            <span class="lead">Dietary meals</span>
                        </a>
                    </li>

                    <li class="category-item category-item--lg">
                        <a href="#">
                            <img class="img-rounded" src="http://lorempixel.com/200/200/food/3" alt="">
                            <span class="lead">New</span>
                        </a>
                    </li>

                    <li class="category-item category-item--lg">
                        <a href="#">
                            <img class="img-rounded" src="http://lorempixel.com/200/200/food/4" alt="">
                            <span class="lead">Exclusive</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
