<section class="categories">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="categories__title">Categories</h2>
            </div>

            <div class="col-sm-5">
                <div class="input-group input-group-lg input-group-xs-bottom-20">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Search</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xxs-12 col-xs-6 col-sm-4">
                <div class="category-item">
                    <a routerLink="/category/productlist" routerLinkActive="active" (click)="isCollapsed = true">
                        <img class="img-rounded" src="http://lorempixel.com/200/200/food/1" alt="">
                        <span class="lead">Top dishes</span>
                    </a>
                </div>
            </div>

            <div class="col-xxs-12 col-xs-6 col-sm-4">
                <div class="category-item">
                    <a routerLink="/category/productlist" routerLinkActive="active" (click)="isCollapsed = true">
                        <img class="img-rounded" src="http://lorempixel.com/200/200/food/2" alt="">
                        <span class="lead">Dietary meals</span>
                    </a>
                </div>
            </div>

            <div class="col-xxs-12 col-xs-6 col-sm-4">
                <div class="category-item">
                    <a routerLink="/category/productlist" routerLinkActive="active" (click)="isCollapsed = true">
                        <img class="img-rounded" src="http://lorempixel.com/200/200/food/3" alt="">
                        <span class="lead">New</span>
                    </a>
                </div>
            </div>

            <div class="col-xxs-12 col-xs-6 col-sm-4">
                <div class="category-item">
                    <a routerLink="/category/productlist" routerLinkActive="active" (click)="isCollapsed = true">
                        <img class="img-rounded" src="http://lorempixel.com/200/200/food/4" alt="">
                        <span class="lead">Vegeterian</span>
                    </a>
                </div>
            </div>

            <div class="col-xxs-12 col-xs-6 col-sm-4">
                <div class="category-item">
                    <a routerLink="/category/productlist" routerLinkActive="active" (click)="isCollapsed = true">
                        <img class="img-rounded" src="http://lorempixel.com/200/200/food/5" alt="">
                        <span class="lead">Meat</span>
                    </a>
                </div>
            </div>

            <div class="col-xxs-12 col-xs-6 col-sm-4">
                <div class="category-item">
                    <a routerLink="/category/productlist" routerLinkActive="active" (click)="isCollapsed = true">
                        <img class="img-rounded" src="http://lorempixel.com/200/200/food/6" alt="">
                        <span class="lead">Fish</span>
                    </a>
                </div>
            </div>

            <div class="col-xxs-12 col-xs-6 col-sm-4">
                <div class="category-item">
                    <a routerLink="/category/productlist" routerLinkActive="active" (click)="isCollapsed = true">
                        <img class="img-rounded" src="http://lorempixel.com/200/200/food/7" alt="">
                        <span class="lead">Salads</span>
                    </a>
                </div>
            </div>

            <div class="col-xxs-12 col-xs-6 col-sm-4">
                <div class="category-item">
                    <a routerLink="/category/productlist" routerLinkActive="active" (click)="isCollapsed = true">
                        <img class="img-rounded" src="http://lorempixel.com/200/200/food/8" alt="">
                        <span class="lead">Desserts</span>
                    </a>
                </div>
            </div>

            <div class="col-xxs-12 col-xs-6 col-sm-4">
                <div class="category-item">
                    <a routerLink="/category/productlist" routerLinkActive="active" (click)="isCollapsed = true">
                        <img class="img-rounded" src="http://lorempixel.com/200/200/food/9" alt="">
                        <span class="lead">Exclusive</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
