@keyframes rotation {
    0% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(40deg);
    }

    100% {
        transform: rotate(50deg);
    }

}

.user-profile th {
    font-family: "Oswald";
}

.orders .order-number {
    font-family: "Roboto";
}

.orders .order-name {
    font-family: "Roboto";
    font-weight: bold;
}

.navigation {
    margin: 0 auto;
    width: 70%;
}

.content {
    margin: 0 auto;
    width: 70%;
}

.title {
    margin-bottom: 20px;
    text-align: left;
    font-family: "Oswald";
}

.user-profile .order td {
    font-family: "Roboto";
}

img {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 66%;
}

.profile-img {
    width: 200px;
    height: 200px;
}

.dish-image {
    margin: 0 auto;
    box-sizing: border-box;
    transition: opacity .3s ease-in-out;
}

.favorite-item {
    position: relative;
    z-index: 0;
    box-sizing: border-box;
}

.dish-name {
    position: absolute;
    display: block;
    top: 60%;
    right: 10%;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
    font-family: Oswald;
    font-size: 18px;
    opacity: 0;
    border-radius: 2%;
    color: #51AB60;
    text-shadow: -1px 0px 2px #555659;
    text-decoration: none;
    font-weight: bold;
    transition: opacity .4s ease-in-out, color .25s ease-in-out;
}

.favorite-item:hover .dish-image{
    opacity: 0.4;
}

.favorite-item:hover .dish-name{
    opacity: 1;
    cursor: pointer;
}

.favorite-item .dish-name:hover {
    color: #E85013;
    text-shadow: none;
}
.personal div {
    width: auto;
}

.personal p {
    display: inline-block;
    font-family: 'Roboto';
}

.personal span {
    /*font-family: 'Roboto';*/
    font-weight: bold;
}

.personal p span {
    margin-left: 5px;
    font-size: 10px;
}

.personal p span:hover {
    cursor: pointer;
    font-size: 10px;
}

.profile__achievements img {
    position: relative;
    z-index: 3;
    display: inline-block;
    width: 35px;
    height: 35px;
}

.achievements {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: all linear 0.2s;
    transform-origin: 5% 0% ;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: green;
}

.is-show {
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 50%;
    transform: translateX(5);
    /*transform:  rotate(-45deg);*/
    /*сделать через перемещение*/
    transform-origin: 5% 0% ;
    transition: all ease-in-out 0.5s;
    /*animation: rotation .3s ease-in-out;*/
}
.profile__achievements {
    position: relative;
}

.profile__achievements img:hover {
    background-color: red;
}

.achievements div {
    margin: 0 auto;
    width: 95%;
}

.achievements div div {
    width: 5%;
    height: 5%;
    border-radius: 50%;
    background-color: blue;
}
