<div class="user-profile container">
    <h2>ACCOUNT</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="navigation btn-group-vertical">
                <button class="btn">Personal information</button>
                <button class="btn">Orders</button>
                <button class="btn">Favorites</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile">
                <div class="profile__image">
                    <h3>Name Lastname</h3>
                    <img src="" alt="">
                </div>
                <div class="profile__achievements">
                    <div class="achievements--italian"></div>
                    <div class="achievements--sugar"></div>
                    <div class="achievements--fish"></div>
                </div>
                <div class="profile__personal"></div>
            </div>
            <div class="orders"></div>
            <div class="favorites"></div>
        </div>
    </div>
</div>
