<div class="cont">

    <form>
        <div class="input-group">
            <input type="text" autocomplete="off" (input)="searchInput$.next($event.target.value)" class="form-control" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"  routerLinkActive="active">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>
    <div class="searcRes" *ngIf="searcRes">
        <div *ngFor = "let item of searcRes">
            <div class="row">
                <div class="col-md-12">
                        <a routerLink="category/productlist/{{item['productId']}}">
                            <div class="searchFamily search-res well">
                                <h5 class="text-left">{{item['title']}}
                                <span class="label label-default pull-right">{{item['category']}}</span></h5>
                            </div>
                        </a>

                </div>
            </div>
        </div>
    </div>

</div>
