<form>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="ingName">Ingredient name</label>
            <input
                type="text"
                id="ingName"
                class="form-control"
                #nameInput>
        </div>
        <div class="col-sm-2 form-group">
            <label for="ingQuantity">Quantity</label>
            <input
                type="number"
                id="ingQuantity"
                class="form-control"
                #amountInput>
        </div>
        <div class="col-sm-2 form-group">
            <label for="ingMeasure">Measure</label>
            <input
                type="text"
                id="ingMeasure"
                class="form-control"
                #measureInput>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success" type="submit" (click)="onAddItem()">Add</button>
            <button class="btn btn-danger" type="button">Delete</button>
        </div>
    </div>
</form>
