<div class="container">

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h1>Pastas</h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">
        <div class="col-md-6 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="../../../../assets/images/bistro-shrimp-pasta.jpg" alt="">
                <div class="caption product-desc">
                    <h3>Bistro Shrimp Pasta</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="../../../../assets/images/evelyns-favorite-pasta.jpg" alt="">
                <div class="caption product-desc">
                    <h3>Evelyns Favorite Pasta</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="../../../../assets/images/fettuccini-alfredo.jpg" alt="">
                <div class="caption product-desc">
                    <h3>Fettuccini Alfredo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="../../../../assets/images/louisiana-chicken-pasta.jpg" alt="">
                <div class="caption product-desc">
                    <h3>Louisiana Chicken Pasta</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="../../../../assets/images/pasta-carbonara.jpg" alt="">
                <div class="caption product-desc">
                    <h3>Pasta Carbonara</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="../../../../assets/images/pasta-with-shrimp-and-sausage.jpg" alt="">
                <div class="caption product-desc">
                    <h3>Pasta wit Shrimp and Sausage</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
